@font-face {
    font-family: 'CormorantGaramond-Bold';
    src: url('./CormorantGaramond-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond-BoldItalic';
    src: url('./CormorantGaramond-BoldItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond-Italic';
    src: url('./CormorantGaramond-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond-Light';
    src: url('./CormorantGaramond-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond-LightItalic';
    src: url('./CormorantGaramond-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond-Medium';
    src: url('./CormorantGaramond-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond-MediumItalic';
    src: url('./CormorantGaramond-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond-Regular';
    src: url('./CormorantGaramond-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond-SemiBold';
    src: url('./CormorantGaramond-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond-SemiBoldItalic';
    src: url('./CormorantGaramond-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}